* {
    padding: 0;
    margin: 0;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4)
    ),
    url(images/mainbackground.jpg) center;
    background-size: cover;
}
.intro-text {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, sans-serif;
}
.intro-text > p:first-child {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}
.intro-text__second_item{
    margin: 0;
    font-size: 30px;
}
.intro-btn{
    margin: 15px;
    color: #f4f5f6;
    background: none;
    border-color: #2C2C2A;
}
.intro-btn:hover {
    color: black;
    background: #afb0b1;
    border-color: black;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 80px 0;
}
.about-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title p,
.portfolio-title p{
    font-family: Arial, sans-serif;
    color: rgba(6, 2, 5, 0.85);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.myphoto{
    margin: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.about-text {
    width: 80%;
    text-align: center;
}
.download-resume{
    color: #2C2C2A;
    background: white;
    border-color: #2C2C2A;
}
.download-resume:hover{
    color: #f4f5f6;
    background: #3e3e3c;
    border-color: black;
}
.navbar{
    background-color: #2C2C2A;
}
@media (min-width: 992px) {
    .navbar {
        height: 6vh;
    }
}
.nav-fixed header {
    margin-bottom: 61px;
}
@media (min-width: 992px) {
    .nav-fixed header {
        margin-bottom: 6vh;
    }
}
.nav-fixed nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
li {
    float: left;
    margin: 5px;
}
ul {
    margin-bottom: 0;
    list-style-type: none;
}
li a {
    right: 100px;
    color: rgb(255, 255, 255);
    line-height: 15px;
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
}
a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 15px;
}
li a:hover{
    color: orange;
    text-decoration: none;
}
.main_link {
    padding: 15px;
    color: rgb(255, 255, 255);
    line-height: 15px;
    text-decoration: none;
}
.main_link:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    /*.left_header_container,*/
    /*   .right_header_container {*/
    /*       width: 100%;*/
    /*       display: flex;*/
    /*       flex-flow: row nowrap;*/
    /*       align-items: center;*/
    /*       justify-content: center;*/
    /*   }*/


.navbar-collapse{
    justify-content: flex-end;
}
.skills{
    height: 100%;
    padding: 80px 0px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)
    ),
    url(images/skills.png) center;
    background-size: cover;
    background-attachment: fixed;
}
.skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-content{
    justify-content: center;
    align-items: center;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.skills-content img{
    width: 60px;
    height: 60px;
}
.skills-content__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.39);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
}
.skills-content__item p{
    color: #f4f5f6;
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 80px 0px;
}
.portfolio-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.portfolio-content__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f4f5f6;
    width: 250px;
    height: 250px;
    transition: all .2s linear;
}
.portfolio-content__item:hover{
    background-color: orange;
    color: orange;
    transition: all .2s linear;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
}
.fa.fa-search{
    font-size: 20px;
    color: #f4f5f6;
    transition: all .2s linear;
}
.portfolio-content__item:hover > .fa-search{
    color: orange;
    transition: all .2s linear;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.portfolio-content__item.item-1{
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)
    ), url(images/backpechati.png) center;
    background-size: cover;
}
.portfolio-content__item.item-2{
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)
    ), url(images/backpets.png) center;
    background-size: cover;
}
.portfolio-content__item.item-3{
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)
    ), url(images/backmagazin.png) center;
    background-size: cover;
}
.portfolio-content > button{
    margin: 20px;
    border: none;
    outline: none;
    background: none;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 94vh;
    padding: 80px 0 40px 0;
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.9)
    ),
    url(images/backimages.jpg) center;
    background-size: cover;
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title p,
.skills-title p{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #f4f5f6;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.section-title hr,
.about-title hr,
.skills-title hr,
.portfolio-title hr{
    height: 4px;
    width: 100px;
    background: orange;
    border: 0;
}
.connection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.connection__item{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}
.connection__item p,
.connection__item span {
    text-align: center;
    padding-top: 10px;
    color: #f4f5f6;
}
.social{
    height: auto;
    min-width: 50%;
}
.col-md-4{
    position: unset;
}
.social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
i.fa{
    font-size: 35px;
    color: #f4f5f6;
}
a i.fa:hover{
    color: orange;
}
.social li{
    display: flex;
    justify-content: center;
    margin: 15px;
}
